@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Access Denied";
}

<link rel="stylesheet" href="~/css/error403.css"/>

<div class="error-page text-center">
    <h1>403</h1>
    <h2>Access Denied!</h2>
    <p>It seems you don’t have the necessary permissions to view this page.</p>
    <a href="/" class="btn btn-primary">Go Back to Home</a>
</div>