@using OnlineShop.Web.Resources

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home-index.css"/>

<div class="container mt-5">
    <div class="hero text-center mb-5">
        <h1 class="display-3">@Resource.WelcomeToFashionShop</h1>
        <p class="hero-subtitle lead">@Resource.YourOne_stopShopForAllYourNeeds</p>
        <a href="/Product" class="btn btn-lg btn-outline-primary hero-button">@Resource.ExploreProducts <i class="fa-solid fa-shirt"></i></a>
    </div>

    <img src="images/FashionShopLogo.jpg" class="img-fluid d-block mx-auto" width="50%" height="auto" />
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
