html {
    font-size: 12px;
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 1366px) {
    html {
        font-size: 11px !important;
    }
}

@media (max-width: 1212px) {
    html {
        font-size: 10px !important;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 9px !important;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 8px !important;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 7px !important;
    }
}

.navbar-brand img.img-fluid {
    max-width: 50px !important;
    max-height: 50px !important;
}

@media (max-width: 1786px) {
    nav ul li {
        font-size: 10px;
    }
}

@media (max-width: 1686px) {
    nav input.form-control,
    button.btn.btn-light.glass {
        display: none;
    }
}

@media (max-width: 1560px) {
    nav ul li {
        font-size: 9px;
    }

    nav ul img.profile-img {
        width: 60px;
        height: 60px;
    }

    .navbar-nav li form button.btn.btn-link {
        font-size: 12px !important;
    }

    nav ul li a.nav-link.dropdown-toggle {
        display: none;
    }
}

@media (max-width: 1366px) {
    nav ul li {
        font-size: 8px;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

body {
    margin-bottom: 60px;
}

html {
    position: relative;
    min-height: 100%;
}
